html *
{
    font-family: "Roboto Slab script=latin rev=1";
}

.navigation-img {
    display: block;
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

.navigation-grid {
    display: grid;
    grid-template-columns: 16% 20% 16% 16% 16% 16%;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
}

.nav-href {
    text-decoration: none;
    color: rgb(31, 120, 221);
    font-weight: bold;
    font-size: medium;
}

.tdcenter {
    font-size: 1em;
    text-align: center;
}
.tdleft {
    font-size: 1em;
    text-align: left;
}
.tdright {
    font-size: 1em;
    text-align: right;
}
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a:hover {
    text-decoration: underline;
}

.vorteile {
    font-size:medium;
}

.header-link {
    color: black;
    width: 100%;
    text-decoration: none;
}

.code-grey-font {
    background-color: lightgray;
}

.sql-blue {
    color: blue;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: small;
    font-weight: 200;
}

.sql-black {
    color: black;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: small;
    font-weight: 200;
}

.sql-green {
    color: green;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: small;
    font-weight: 200;
}

.sql-red {
    color: red;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: small;
    font-weight: 200;
}

.sql-grey {
    color: darkslategray;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: small;
    font-weight: 200;
}

/* taken from https://www.w3schools.com/css/css_rwd_grid.asp for responsive design */
/* For mobile phones: */
* {
    box-sizing: border-box;
  }

[class*="col-"] {
    width: 100%;
  }

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 2px;
    border: 0px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }