.code-snippet {
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
}

.textarea-code-snippet {
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    disabled: true;
    overflow: hidden;
    resize: none;
}
