.intro-image-integration {
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.intro-image-absolute-integration {
  max-width: 200px;
  max-height: 350px;

  padding: 0;
  margin-bottom: 10px;
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 200px;
  }
  @include media-breakpoint-up(lg) {
    bottom: 10px;
    left: 10px;
    width: 200px;
  }
  @include media-breakpoint-up(xl) {
    bottom: 10px;
    left: 10px;
    width: 200px;
  }
}
