.intro-image-integration {
  width: 260px;
  height: auto;
  margin-top: 20px;
}

.intro-image-absolute-integration {
  max-width: 400px;
  max-height: 650px;

  padding: 0px;
  margin-bottom: 10px;

}
