<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.64x64.ico">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<a class="header-link" href="/">FlySql - Bringt REST und Datenbank Testautomation zusammen</a>
	<div class="navigation-grid">
		<div><a class="nav-href" href="/"><img class="navigation-img" src="/images/favicon/favicon.64x64.ico" alt="FlySql logo" /></a></div>
		<div><a class="nav-href" href="/integration">Integration</a></div>
		<div><a class="nav-href" href="/certified-avaloq-prof">Für Certified Avaloq Professional</a></div>
		<div><a class="nav-href" href="/testautomation">Für Testautomatisierer</a></div>
		<div><a class="nav-href" href="/tester">Für Tester</a></div>
		<div><a class="nav-href" href="/release-manager">Für Release Manager</a></div>
		<div><a class="nav-href" href="/flysql-intern">FlySql</a></div>		
	</div>
	<hr>
	<div class="container">

		{{ content }}

	</div>
	<footer>
		<hr>
		<div class="row">
			<div class="col-1"><img class="footer-img" src="/images/favicon/favicon.64x64.ico" alt="FlySql logo" /></div>
			<div class="col-11"><span class="footer-txt">by rainer glück</span></div>
		</div>
	</footer>
</body>

</html>