<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.64x64.ico">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<div class="row">
		<div class="col-1">
			<img class="navigation-img" src="/images/favicon/favicon.64x64.ico" alt="" />
		</div>
		<div class="col-11">
			<h2>FlySql - Access any SQL via REST</h2>
		</div>
	</div>	
	<nav>
		<ul>
			<li><a href="/">FlySql</a></li>
			<li><a href="/bibingka">Integration</a></li>
			<li><a href="/puto">Für Avaloq Parametrierer</a></li>
			<li><a href="/chiffon">Für Testautomation Engineer</a></li>
			<li><a href="/ubepandesal">Für Tester</a></li>
			<li><a href="/pandecoco/">Für Release Manager</a></li>
		</ul>
	</nav>
	<div class="container">

		{{ content }}

	</div>
	<footer>
	</footer>
</body>

</html>