<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="icon" type="image/x-icon" href="/images/favicon/favicon.64x64.ico">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<a class="title-a" href="/">Integrationstest für Kernbankensysteme</a>
	<div class="header-div">
		<div class=" header-a" style="display: grid;">
			<a href="/">
				<div>
					<img class="header-img" src="/images/favicon/favicon.64x64.ico" alt="FlySql logo" />
				</div>
				<div class="header-a">Vorteile</div>
			</a>
		</div>
		<div class="header-a"><a href="/integration">Integration von FlySql</a></div>
		<div class="header-a"><a href="/certified-avaloq-prof">Für Certified Avaloq Professionals</a></div>
		<div class="header-a"><a href="/testautomation">Für Testautomatisierer</a></div>
		<div class="header-a"><a href="/tester">Für Tester</a></div>
		<div class="header-a"><a href="/release-manager">Für Release Manager</a></div>
		<div class="header-a"><a href="/flysql-intern">FlySql</a></div>
	</div>
	<hr>
	<div class="container">

		{{ content }}

	</div>
	<footer>
		<hr>
		<div class="row">
			<div class="col-1"><img class="footer-img" src="/images/favicon/favicon.64x64.ico" alt="FlySql logo" />
			</div>
			<div class="col-11"><span class="footer-txt">(c) by rainer glück</span></div>
		</div>
	</footer>
</body>

</html>