---
layout: default
bodyClass: "page-expert"
---

<div class="container">
	<div class="row justify-content-center">
		<div class="col-8">
			<h1 class="title-in-default">FlySql - Einfache Avaloq Testautomatisierung</h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-start mb-4">
		<div class="col-6 col-md-6">
			<h2>FlySql</h2> ist modular aufgebaut. Es ist einfach zu skalieren und kann bei der Migration
			bestehender Avaloq Tests unterstützen (AST Tests).
		</div>
		<div class="col-4 col-md-4 mt-2">
			<object type="image/svg+xml" width="200" height="150"
				class="intro-image-integration--{% if page.intro_image_absolute %} intro-image-absolute-integration{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}"
				data="/images/flysqlintern.container-diagram.drawio.svg">
			</object>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-4 col-md-4 pb-4">
			<h2 class="service-title">FlySql Repository</h2>
			<ul>
				<li>Aktualisiert das Git Repository, welches durch Certified Avaloq Professional gepflegt wird</li>
				<li>Stellt die Verbindung von REST Resource zu den SQL Statements, PL/SQL Scripte und Avaloq Script
					Statements her</li>
				<li>Sorgt für die Auflösung der Parameter falls solche in den Skripten und Statments vorhanden sind</li>
			</ul>
		</div>
		<div class="col-4 col-md-4 pb-4">
			<h2 class="service-title">FlySql Executor</h2>
			<ul>
				<li>Kann die Verbindung (jdbc) zu einer Datenbank aufbauen</li>
				<li>Führt die SQL Statements, PL/SQL Scripte und Avaloq Script Statements aus</li>
				<li>Bereitet Ergebnisdaten der SQL Statements, PL/SQL Scripte und Avaloq Script Statements für die REST
					Response auf</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-8 col-md-8 pb-4">
			<h2 class="service-title">FlySql Migrator</h2>
			<ul>
				<li>Unterstützt die Migration von bestehenden AST Tests in die FlySql Welt</li>
				<li>Liest aus einem AST Test Skript Repository die notwendigen SQL Statements, PL/SQL Scripte und Avaloq
					Script Statement aus</li>
				<li>Erzeugt Java Junit Code für die meisten AST Befehle, mit denen sofort gearbeitet werden kann</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-8 mb-4">
			<object data="/images/flysqlintern.container-diagram.drawio.svg" width="100%"></object>
		</div>
	</div>
</div>