---
layout: default
bodyClass: "page-home"
---
<div class="container">
	<div class="row justify-content-start mb-4">
		<div class="col-7 col-md-7">
			<h2>Die Integration</h2> von FlySql ist denkbar einfach. FlySql wird als Docker Container ausgeliefert. Die
			Integration zum Git Repository
			und Avaloq Core System Datenbanken erfolgt über eine Konfigurationsdatei.
		</div>
		<div class="col-5 col-md-5 mt-2">
			<object type="image/svg+xml" width="200" height="150"
				class="intro-image-integration--{% if page.intro_image_absolute %} intro-image-absolute-integration{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}"
				data="/images/integration.system-context-diagram.drawio.svg">
			</object>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 pb-4">
			<h2 class="service-title">Kubernetes Platform</h2>
			<ul>
				<li>Stellt die Konfiguration (Datenbank Verbindung, Git Repository Url, Zertifikate) zur Verfügung</li>
				<li>Skalierung und Betrieb</li>
			</ul>
		</div>
		<div class="col-md-6 pb-4">
			<h2 class="service-title">Testausführungssoftware</h2>
			<ul>
				<li>Beliebige Applikationen, die das REST Protokoll beherrschen, können mit FlySql integriert werden
				</li>
				<li>Kommerzielle Tools zur Testautomatisierung wie zum Beispiel Tricentis Tosca, Ranorex, Service Trace
				</li>
				<li>Integration in bestehende End-to-end Tests, zum Beispiel E-Banking</li>
				<li>Open Source Software zur Integration in bestehende End-to-end Tests, zum Beispiel Selenium, Cypress
				</li>
				<li>Skalierbares Regressionstesten von Avaloq ACP mit zB Java Junit</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 pb-4">
			<h2 class="service-title">Git Repository</h2>
			<ul>
				<li>Die im Repository hinterlegten Dateien werden als REST Resource zur Verfügung gestellt</li>
			</ul>
		</div>
		<div class="col-md-6 pb-4">
			<h2 class="service-title">Avaloq Core System</h2>
			<li>FlySql wird SQL Skripts, PL/SQL Statements und Avaloq Script Statements hier zur Ausführung bringen
			</li>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-12 mb-4">
			<h2>System Context Diagram</h2>
			<object data="/images/integration.system-context-diagram.drawio.svg" width="100%"></object>
		</div>
	</div>
</div>
