---
layout: default
bodyClass: "page-services"
---
<div class="vorteile">
	<h2>Integration</h2>
	<h3>System Context diagram</h3>
	<div class="row">
		<div class="col-12">
			<object data="/images/integration.system-context-diagram.drawio.svg" width="40%" ></object>
		</div>
	</div>	
	<h3>Git Repository</h3>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-11">
			<ul>
				<li>Die im Repository hinterlegten Dateien werden als REST Resource zur Verfügung gestellt</li>
			</ul>
		</div>
	</div>		
	<h3>Testausführungssoftware</h3>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-11">
			<ul>
				<li>Beliebige Applikationen, die das REST Protokoll beherrschen, können mit FlySql integriert werden</li>
				<li>Kommerzielle Tools zur Testautomatisierung wie zum Beispiel Tricentis Tosca, Ranorex, Service Trace</li>
				<li>Integration in bestehende End-to-end Tests, zum Beispiel E-Banking</li>
				<li>Open Source Software zur Integration in bestehende End-to-end Tests, zum Beispiel Selenium, Cypress</li>
				<li>Skalierbares Regressionstesten von Avaloq ACP mit zB Java Junit</li>
			</ul>
		</div>
	</div>		
	<h3>Kubernetes Platform</h3>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-11">
			<ul>
				<li>Stellt die Konfiguration (Datenbank Verbindung, Git Repository Url, Zertifikate) zur Verfügung</li>
				<li>Skalierung und Betrieb</li>
			</ul>
		</div>
	</div>		
	<h3>Avaloq Core System</h3>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-11">
			<ul>
				<li>FlySql wird SQL Skripts, PL/SQL Statements und Avaloq Script Statements hier zur Ausführung bringen</li>
			</ul>
		</div>
	</div>		
</div>